/* body {
    font-family: "Helvetica";
}

.svg{
 background-color:  #2A343F;
 margin-right: 50px;
}

.svg2{
 background-color:  #2A343F;
 margin-right: 50px;
 margin-top : 10px;
}

.yaxis path{
    fill: none;
    stroke-width: 0;
}

.yaxis text{
    fill :#999999;
    stroke: #999999;
   stroke-width: 0.5;
}

.xaxis path {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1;
}

.xaxis text{
    fill :#999999;
    stroke: #999999;
    stroke-width: 0.5;
}
.legendText{
     stroke: grey;
    stroke-width: 0.5;
}

.line {
      fill : none;
      stroke-linejoin : square;
      stroke-linecap : square;
      stroke-width : 4;   
      stroke: #E88220;               
}

.circle{
    fill :rgba(153,153,153,0.5)
}
.title{
    font-size : 20;
    stroke: lightgrey;
    letter-spacing: 4px;
    fill : lightgrey;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 80px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: rgba(232,130,32,0.5);	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
} */
